extends layout

block body
    .columns
        .column.is-half
            .box(style='margin: 2%')
                aside.menu
                    p.menu-label Help Videos
                    ul.menu-list
                        li
                            a.is-disabled General
                            ul
                                li
                                    a Manage Members
                                li
                                    a Add Volunteering Hours
                                li
                                    a Remove Members
                        li
                            a.is-disabled Events
                            ul
                                li
                                    a Edit Events
                                li
                                    a Mark Attendance
                        li
                            a.is-disabled NHS Falcons Live
                            ul
                                li
                                    a Overview & How to Use
                        li
                            a.is-disabled Advanved / Admin
                            ul
                                li
                                    a Change Login Key
                                li
                                    a Push Code Updates
                                li
                                    a Add Subdomain Redirect
                                li
                                    a Manage Email Alias'
        .column
                .box(style='margin: 2%; margin-left: 0%')
                    iframe(style='margin-left: 20%; margin-top: 15%; margin-bottom: 17.5%', width='560' height='315' src='https://www.youtube.com/embed/hHAepgwz0X4' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
