extends layout

block body
    div#vidid(style='display: none', value=vindex)
    .columns
        .column.is-half
            .box(style='margin: 2%')
                aside.menu
                    p.menu-label Help Videos
                    ul.menu-list
                        li
                            a General
                            ul
                                li
                                    a#0(href='/about?v=0') Manage Members
                                li
                                    a#1(href='/about?v=1') Add Volunteering Hours
                        li
                            a.is-disabled Events
                            ul
                                li
                                    a#2(href='/about?v=2') Edit Events
                                li
                                    a#3(href='/about?v=3') Mark Attendance
                        li
                            a.is-disabled NHS Falcons Live
                            ul
                                li
                                    a#4(href='/about?v=4') Overview & How to Use
                        li
                            a.is-disabled Advanved / Admin
                            ul
                                li
                                    a#5(href='/about?v=5') Change Login Key
                                li
                                    a#6(href='/about?v=6') Push Code Updates
                                li
                                    a#7(href='/about?v=7') Add Subdomain Redirect
                                li
                                    a#8(href='/about?v=8') Manage Email Alias'
        .column
                .box(style='margin: 2%; margin-left: 0%')
                    iframe(style='margin-left: 20%; margin-top: 15%; margin-bottom: 17.5%', width='560' height='315' src=vidurl frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
    script.
        $(() => {
            let v = $('#vidid').attr('value');
            $(`#${v}`).addClass('is-active');
        });