extends layout
include mixins/loading-mixin

block append head
    meta(charset='utf8')
    link(rel='stylesheet', href='/jsoneditor/jsoneditor.min.css')
    script(src='/jsoneditor/jsoneditor.min.js')

block append css
    style.
        .is-hidden {
            display: 'none';
        }

block body
    .is-hidden#urljson(value=urljson)
    .box(style='margin: 2%')
        nav.level
            .level-left
                .level-item
                    .buttons
                        .button.is-dark.is-outlined(onclick='viewDocsOnClick();')
                            span.icon.is-left
                                i.fas.fa-book
                            p View MongoDB Documentation
                        .button.is-dark.is-outlined(onclick='exportOnClick()')
                           span.icon.is-left
                            i.fas.fa-link
                           p Export
            .level-right
                .level-item
                    .tabs
                        ul
                            li#menu-query
                                a Query
                            li#menu-insert
                                a Insert
                            li#menu-remove
                                a Remove
                            li#menu-agg
                                a Aggregate Pipeline
                .level-item   
                    .button.is-success.is-outlined#runQueryBtn(onclick='runQueryOnClick();')
                        span.icon.is-left
                            i.fas.fa-database
                        p Run Query
    .box(style='margin: 2%; height: 500px;')
        #jsoneditor(style='width: 100%; height: 100%;')

    .modal#results
        .modal-background(onclick='$(this).parent().removeClass("is-active")')
        .modal-content
            +loadable('results')
                #jsonresult(style='width: 100%; height: 100%; background-color: white')
        button.modal-close.is-large(aria-label='close', onclick='$(this).parent().removeClass("is-active")')

    script.
        // create the editor
        const container = document.getElementById("jsoneditor")
        let options = { mode: 'code', fontSize: 25 };
    if isExplore
        script.
            options['mode'] = 'tree'; // set editor mode to text mode 
    script.
        const editor = new JSONEditor(container, options)
        // set json

        let urlJson = { _undefined: true };
        try { urlJson = JSON.parse($('#urljson').attr('value')); } catch {  }

        let initialJson = {
            name: { '$regex': 'John Doe', '$options': 'i' },
        }

        if (!urlJson._undefined)
            initialJson = urlJson;

        if (urlJson)
        editor.set(initialJson)

        // get json
        const updatedJson = editor.get()

        editor.aceEditor.setOptions({
            fontSize: '20pt'
        });
    script(src='/js/admin.js')
