extends layout
include mixins/loading-mixin

block append head
    meta(charset='utf8')
    link(rel='stylesheet', href='/jsoneditor/jsoneditor.min.css')
    script(src='/jsoneditor/jsoneditor.min.js')

block append css
    style.
        .is-hidden {
            display: 'none';
        }

block body
    .is-hidden#urljson(value=urljson)
    .box(style='margin: 2%')
        nav.level
            .level-left
                .level-item
                    .buttons
                        .button.is-dark.is-outlined(onclick='viewDocsOnClick();')
                            span.icon.is-left
                                i.fas.fa-book
                            p View MongoDB Documentation
                        .button.is-dark.is-outlined(onclick='exportOnClick()')
                            span.icon.is-left
                                i.fas.fa-link
                            p Permalink
                        .button.is-dark.is-outlined(onclick='$("#shortlink-modal").addClass("is-active");')
                            span.icon.is-left
                                i.fas.fa-link
                            p Shortlink

            .level-right
                .level-item
                    .tabs
                        ul
                            li#menu-query
                                a Query
                            li#menu-remove
                                a Remove
                            li#menu-agg
                                a Aggregate Pipeline
                .level-item   
                    .button.is-success.is-outlined#runQueryBtn(onclick='runQueryOnClick();')
                        span.icon.is-left
                            i.fas.fa-database
                        p Execute
    .box(style='margin: 2%; height: 500px;')
        #jsoneditor(style='width: 100%; height: 100%;')
    .modal#shortlink-modal
        .modal-background(onClick='$(this).parent().removeClass("is-active")')
        .modal-card
            header.modal-card-head
                p.modal-card-title Create Shortlink
            section.modal-card-body
                .field.has-addons
                    .control(style='width:100%')
                        button.button.is-outlined.is-dark.is-fullwidth(disabled) http://nhsfalcons.com/rdr/
                    .control(style='width:100%')
                        input.input.is-outlined.is-danger#shortlink-textbox(onChange='if (new RegExp("^[a-zA-Z0-9-_]+$") .test($(this).val()) != true) { $(this).addClass("is-danger"); $("#go-create-link").attr("disabled", "disabled"); } else { $(this).removeClass("is-danger"); $(this).addClass("is-success"); $("#go-create-link").removeAttr("disabled"); }')
                .field
                    .control
                        label.checkbox
                            input#autoexec(type="checkbox")
                            |&nbsp&nbspExecute Automatically 
                span.tag#shortlink-tag Shortlink Path Must Adhere to Regular Expression /^[a-zA-Z0-9-_]+$/
            footer.modal-card-foot
                button.button.is-primary#go-create-link(onClick='testCreateLink();', disabled) Create ShortLink
                button.button(onClick='$("#shortlink-modal").removeClass("is-active");') Done
    .modal#permalink-modal
        .modal-background(onclick='$(this).parent().removeClass("is-active")')
        .modal-card
            header.modal-card-head
                p.modal-card-title Script Permalink
            section.modal-card-body
                .field.has-addons
                    .control(style='width:100%')
                        input.input.is-outlined.is-dark#permalink-textbox(disabled, type='text').is-fullwidth
                    .control
                        .button.is-outlined.is-dark(onclick='copyPermalink();')
                            span.icon
                                i.fas.fa-copy

                //- .field.has-addons
                //-     .control.is-fullwidth
                //-         label.label Permalink
                //-         input.input.is-fullwidth(disabled, type='text')
                //-     .control
                //-         label.label &nbsp
                //-         .button.is-dark.is-outlined
                //-             span.icon
                //-                 i.fas.fa-copy

            footer.modal-card-foot
                button.button(onclick='$("#permalink-modal").removeClass("is-active");') Done
    .modal#results
        .modal-background(onclick='$(this).parent().removeClass("is-active")')
        .modal-content
            +loadable('results')
                #jsonresult(style='width: 100%; height: 100%; background-color: white')
        button.modal-close.is-large(aria-label='close', onclick='$(this).parent().removeClass("is-active")')
    script.

        // create the editor
        const container = document.getElementById("jsoneditor")
        let options = { mode: 'code', fontSize: 25 };
    if isExplore
        script.
            options['mode'] = 'tree'; // set editor mode to text mode 
    script.
        const editor = new JSONEditor(container, options)
        // set json

        let urlJson = { _undefined: true };
        try { urlJson = JSON.parse($('#urljson').attr('value')); } catch {  }

        let initialJson = {
            active: true,
            name: { '$regex': '', '$options': 'i' },
        }

        if (!urlJson._undefined)
            initialJson = urlJson;

        if (urlJson)
        editor.set(initialJson)

        // get json
        const updatedJson = editor.get()

        editor.aceEditor.setOptions({
            fontSize: '20pt',
            theme: 'https://raw.githubusercontent.com/ajaxorg/ace/master/lib/ace/theme/iplastic.js'
        });

        editor.aceEditor.$enableLiveAutocompleation = true;
        //- editor.aceEditor.setTheme('ace/theme/iplastic');
    script(src='/js/admin.js')
