extends layout
include mixins/loading-mixin

block append css
    style.
        .is-hidden {
            display: none
        }

        /* Underline dotting is odd with text decoration skipping enabled. */

        th > abbr { 
            text-decoration-skip-ink: none;

            /* misc. browser support (ew, safari) */

            text-decoration-skip: none;
            -webkit-text-decoration-skip: none;
        }

block body
    .is-hidden#event-id(value=eventID)
    +loadable('global')
        .box(style='margin: 1%')
            .level
                .level-left
                    .level-item
                        .field.has-addons
                            .control
                                .button.is-static Take attendence for 
                            .control.has-icons-left
                                .select
                                    select#eventSelect(onchange='eventSelectChange($(this));')
                                span.icon.is-small.is-left
                                    i.fas.fa-clipboard
                    .level-item
                        .has-text-grey
                            #badge
                .level-right
                    .level-item
                        .button.is-outlined(onclick='$("#bulkmark-modal").addClass("is-active")', style='margin-right: 2%') Bulk Mark
                        .button.is-outlined(style='margin-right: 2%', onclick='loadEvents(); $("#editevent-modal").addClass("is-active");') Edit Events
                        .button.is-outlined.is-success#save-button(onclick="saveAttendence()") Save Attendence
        .modal#bulkmark-modal
            .modal-background(onclick='$(this).parent().removeClass("is-active")')
            .modal-card
                header.modal-card-head
                    p.modal-card-title Bulk Mark
                section.modal-card-body
                    textarea.textarea#bulk-edit-lines(placeholder='Jonny Appleseed\nJane Joe\nBilly Jean')
                footer.modal-card-foot
                    .level(style='width: 100%')
                        .level-left
                            .level-item
                                .control.has-icons-left
                                    .select
                                        select#bulkEventSelect(onchange='eventSelectChange($(this));')
                                    span.icon.is-small.is-left
                                        i.fas.fa-clipboard   
                            .level-item
                                button.button.is-success#save-attendance-bulk-button(onclick='bulkSaveAttendence();') Mark Attendance
                        .level-right
                            .level-item
                                button.button#cancel-attendance-button(onclick='$("#bulkmark-modal").removeClass("is-active")') Cancel
        .modal#editevent-modal
            .modal-background(onclick='$(this).parent().find("tbody").empty(); $(this).parent().removeClass("is-active")')
            .modal-card
                header.modal-card-head
                    p.modal-card-title Edit Events
                section.modal-card-body
                    table.table.is-striped.is-fullwidth#events-table
                        thead
                            th Title
                            th Day
                            th Month
                            th Year
                            th Meeting
                        tbody
                footer.modal-card-foot
                    .level(style='width: 100%')
                        .level-left
                            .level-item
                                button.button.is-success#save-events-button(onclick='$(saveButtonSelector).addClass("is-loading"); saveEvents();') Save
                            .level-item
                                button.button(onclick='$("#editevent-modal").find("tbody").empty(); $("#editevent-modal").removeClass("is-active");') Cancel
                        .level-right
                            .level-item
                                button.button(onclick='onNewEventButtonClick()') New Event
        .box(style='margin: auto 15%')
            +loadable('members')
                table.table.is-striped.is-narrow.is-hoverable.is-fullwidth#members-table(style='margin: auto')
                    thead
                        tr
                            th Member Name
                            th(style='text-align: right') #[abbr(title='Member Attended') Atnd.]
                    tbody
    script(src='/js/attendence.js')