// generate table for exporting

doctype html
html
    head
        style.
            table {
                border-collapse: collapse
            }
            table, th, td {
                border: 1px solid black
            }
    body
        table
            tr
                th Member
                th Note
            for row in data
                if row.active
                    tr
                        td= row.name
                        td &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp