doctype html
html
    body
        iframe(src="https://charts.mongodb.com/charts-nhsfalcons-jeltc/public/dashboards/49a0335f-1104-40ed-b07b-9d7fb4a24582", style="position:fixed; top:0; left:0; bottom:0; right:0; width:100%; height:100%; border:none; margin:0; padding:0; overflow:hidden;")