center
    p So you think fireflies is a bop, huh?#[br]
    p You think Owl City is a one-hit-wonder?#[br]
    p Well check THIS out!

//- Import jQuery
script(src="https://code.jquery.com/jquery-3.5.0.min.js") 
script.
    $(() => { setTimeout(() => globalThis.location.replace('https://www.youtube.com/watch?v=DYRtvMIWXzE'), 4000)}); // redirect to owl city's Fiji Water