include mixins/chart-mixin
link(rel="stylesheet", href="/css/styles.css")

html
    head
        style.
            ::-webkit-scrollbar {
                display: none;
            }
    body
        .hero.is-maroon.is-medium
            .hero-body
                .container
                    .title Shop NHS Falcons
                    .subtitle Don't worry, we aren't making any money on these
        .columns(style='margin: 2%; overflow:hidden')
            .column.is-two-thirds(style='margin: 1%;')
                .box(style='overflow:hidden')
                    center
                        a(data-pin-do='embedBoard' data-pin-board-width='1000' data-pin-scale-height='240' data-pin-scale-width='230' href='https://www.pinterest.com/2021nhsfalcons/2021-nhs-falcons-merch/')
                        script(async defer src='//assets.pinterest.com/js/pinit.js')
            .column(style='margin: 1%; margin-left: 0px')
                .box
                    script(type="text/javascript" src="https://www.redbubble.com/assets/external_portfolio.js")
                    script(id="rb-xzfcxvzx" type="text/javascript").
                        new RBExternalPortfolio('www.redbubble.com', 'westosha-nhs-21', 2, 2).renderIframe();