doctype html

head
    style.
        table {
            border-collapse: collapse
        }
        table, th, td {
            border: 1px solid black
        }

body
    -
        let headers = [];
        if (typeof docs[0] == 'object') {
            docs.forEach(doc => {
                Object.keys(doc).forEach(elem => {
                    if (!headers.includes(elem))
                        headers.push(elem)
                });
            });
        } else {
            if (docs.length > 0)
                headers.push(docs.shift())
            let newDocs = [];
            for (let elem of docs) {
                newDocs.push(JSON.parse(`{ "${headers[0]}": "${elem}" }`))
            }
            docs = newDocs
        }
    table
        tr
            each key in headers
                th= key
        each doc in docs
            - let docKeys = Object.keys(doc);
            tr
                each key in docKeys
                    - let cellVal = doc[key];
                    - if (Array.isArray(cellVal)) cellVal = cellVal.length;
                    td= cellVal